# you may need to run conda config --add channels conda-forge before installing
requests~=2.32.3
black
isort
ruff
mypy
python-dotenv~=0.21.0
alive-progress
numpy~=2.2.2
pandas~=2.2.3
mplfinance~=0.12.9b7
Pillow~=11.1.0
scikit-learn~=1.6.1
scikit-image~=0.25.0
openblas

matplotlib~=3.10.0
seaborn~=0.13.2
ipython~=9.1.0
scipy~=1.15.1
